.palette-container {
  top: 27vw;
  width: 90%;
  height: 40vh;
  right: .9vw;
  padding: .8vw;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: start; */
  align-content: flex-start;
  gap: .4vw;
  overflow: auto;
  border-radius: .4vw;
  position: absolute;
  box-sizing: border-box;
  background-color: #3f3f3f;
  overflow-x: hidden;
}

.palette {
  overflow-y: auto;
  display: flex;
  height: 34vh;
  /* background-color: red; */
  flex-wrap: wrap;
  align-content: flex-start;
  gap: .4vw;
}

.palette-item {
  width: 2.2vw;
  height: 2.2vw;
  background-color: aqua;
}

.palette-item:hover {
  outline: .1vw solid white;
}

.palette-ctrl {
  /* background-color: #3f3f3f; */
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #535353;
  position: absolute;
  height: 3vw;
  width: 100%;
  bottom: 0;
  right: 0;
}

.btn-add {
  /* background-color: red; */
  padding: .8vw;
}

.btn-trash {
  padding: .8vw;
  /* background-color: blue; */
}